venv/
.venv/
env/
/bin/
/include/
/lib/
/lib64/
__pycache__/

*.pyc
*.pyo
*.pyd

# Installer / build files
dist/
*.egg-info/
.eggs/

.env
.flaskenv

*.log
log.txt

*.db
*.sqlite3

.vscode/

.idea/

*.sublime-project
*.sublime-workspace

*~